﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Careers</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SWG Employee HR Site", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Policies<b class="caret"></b></a>

                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("View Policies", "Display", "Policies")</li>
                            <li>@Html.ActionLink("Add Policies", "Create", "Policies")</li>
                            <li>@Html.ActionLink("Manage Policies", "Index", "Policies")</li>
                            <li>@Html.ActionLink("Manage Categories", "Index", "Home")</li>
                        </ul>

                    </li>

                </ul>*@

                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Careers", "Index", "JobApplication")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <br>
            <p>
                @Html.ActionLink("Back to SWG Corp's Home Page", "Index", "Home")
            </p>
                
           
            <p>&copy; @DateTime.Now.Year - SWG Human Resources Portal</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

