﻿@model BaseballModel.Player

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Player</h2>

<h3>Are you sure?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BattingAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BattingAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearsPlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearsPlayed)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Teams", "Index", "Home")
        </div>
    }
</div>
