﻿@model BaseballModel.Player

@{
    ViewBag.Title = "Details";
}

<h2>Players</h2>

<div>
    <h4>Bio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BattingAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BattingAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearsPlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearsPlayed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerID }) |
    @Html.ActionLink("Back To Teams", "Index", "Home")
</p>
