﻿@model IEnumerable<BaseballModel.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Players</h2>

<p>
    @Html.ActionLink("Add New Player", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BattingAvg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearsPlayed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BattingAvg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearsPlayed)
        </td>
        <td>
            @Html.ActionLink("Trade", "Trade", new { id = item.PlayerID }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.PlayerID }) |
            @Html.ActionLink("Bio", "Details", new { id=item.PlayerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlayerID })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Teams", "Index", "Home")
</div>
