﻿@model SWGBaseballLeague.Models.TeamInfo
    

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Players)
            </dt>*@
    </dl>
    <div class="form-group" style="padding-left: 178px;">
        <a href="@Url.Action("Index", "PlayerInfo")" class="btn btn-default"> View Roster
            @*<span class="fa fa-users" style="margin-right: 10px;">
            </span>Manage Teams*@
        </a>
    </div>
            @*@*<div class="form-group" ">
                @*<div class="col-md-offset-2 col-md-10">*@
                    @*<a href="@Url.Action("Index", "Players")" class="btn btn-default"  />*@
                @*</div>*@
            @*</div>*@
        
        
    

    


   
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamID }) |
    @Html.ActionLink("Back to Teams", "Index")
</p>
