﻿@model IEnumerable<BaseballModel.Team>

@{
    ViewBag.Title = "Index";
}

<style>
    .btn {
        box-shadow: 5px 5px 5px #6f6a6a;
    }
</style>

<h2>National League Teams</h2>

<div class="row">
    <div class="col-sm-3 col-sm-offset-3" style="margin-top: 5px; margin-bottom: 15px; margin-left: 0%;">
        <a href="@Url.Action("Create", "TeamInfo")" class="btn btn-default btn-md btn-block">
            @*<span class="glyphicon glyphicon-user" style="margin-right: 10px;">
                </span>*@Add New Team
        </a>
    </div>
</div>


<table class="table" style="width: 501px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager)
        </td>
        <td>
            <a href="/PlayerInfo/Index/@item.TeamID">View Roster</a>
            @*@Html.ActionLink("View Roster", "Index", "PlayerInfo")*@ |
            @Html.ActionLink("Details", "Details", new { id=item.TeamID }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.TeamID })*@
        </td>
    </tr>
}

</table>
