﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
   <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="http://www.projectmanagementdocs.com/images/articles/human-resource-plan.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    SWG HR Policies<br>
                    <a class="btn btn-default btn-default" @Html.ActionLink("View", "Display", "Policies")
                        
                        
                    </a>
                </p>
            </div>
        </div>
      
    </div>
 
</div>

