﻿@model IEnumerable<BaseballModel.League>

@{
    ViewBag.Title = "Index";
}

<h2>MLB Leagues</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LeagueName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LeagueName)
        </td>
        <td>
            @Html.ActionLink("View Teams", "Index", "TeamInfo") |
            @Html.ActionLink("Edit", "Edit", new { id=item.LeagueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LeagueID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LeagueID })
        </td>
    </tr>
}

</table>
