﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - National League</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  <style>
      p {

            text-shadow: 1px 1px rgba(255,255,255, 1); 
        }
      a{
          color: red;
      }

      

  </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://mlb.mlb.com/home" class="pull-left"><img src="~/Content/Images/mlb_header_1X_pqj47ro2_0f6m7qfu.png"></a>
                    @*<img src="@Url.Content("~/Content/Images/MLBNLLOGO2.gif")no-repeat center left; display:block; height:50px;width:50px;" />*@
               
               
                  
                @*@Html.ActionLink("National League", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="padding-top: 5px;">
                    <li>@Html.ActionLink("Trade", "Index", "PlayerInfo")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-shadow: 1px 1px rgba(255,255,255, 1);">&copy; @DateTime.Now.Year - SWG National League</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
