﻿@model WebApplication1.Models.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add an Order</title>
</head>
<body>
    <div>
        <h1>Add New Order</h1>
        <h3>@Html.ActionLink("Back to List", "Index", "Home")</h3>
        <form action="/Home/AddOrder" method="POST">
            <p>
                <label>Order Number</label>
                @*<input type="text" id="OrderId" name="OrderId" />*@
                @Html.TextBoxFor(x => x.OrderId)
            </p>
            <p>
                <label>Customer Name</label>
                @*<input type="text" id="CustomerName" name="CustomerName" />*@
                @Html.TextBoxFor(x => x.CustomerName
           )
            </p>
            <button>Save</button>
        </form>
    </div>
</body>
</html>
