﻿@model WebApplication1.Models.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Order</title>
</head>
<body>
    <div> 
        <h1>Edit Order</h1>
        <h3>@Html.ActionLink("Back to List", "Index", "Home")</h3>
        <form action="/Home/EditOrder" method="post">
            <input type="hidden" name="OrderId" id="OrderId" value="@Model.OrderId" />
            <p>
                <label>Customer Name</label>
                <input type="text" id="Name" name="Name" value="@Model.CustomerName" />
            </p>
            <p>
                <label>Order Date</label>
                <input type="text" name="OrderDate" id="OrderDate" value="@Model.OrderDate" />
            </p>
            <button>Save</button>
        </form>
    </div>
</body>
</html>
