﻿@model List<WebApplication1.Models.Order>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>SWC FLOORING</h1>
       
        <h3>@Html.ActionLink("Add a new Order", "Add","Home")</h3>
     
        
        @if (Model.Any())
        {
            <table>
                <thead>
                    <tr>
                        <th>Order Date</th>
                        <th>Customer Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                    {
                        <tr>
                            <td>@m.OrderId</td>
                            <td>@m.CustomerName</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Home", new { id = m.OrderId }, null)
                            </td>
                            <td>
                                <form action="/Home/DeleteOrder" method="post">
                                    <input type="hidden" name="OrderId" id="OrderId" value="@m.OrderId" />
                                    <button>Delete</button>
                                </form>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <p>You do not have any current orders.</p>
        }

    </div>
</body>
</html>
