﻿@model Mvc5HRPortalMH.Models.Policies

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Policies</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PolicyNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
