﻿@model IEnumerable<Mvc5HRPortalMH.Models.Policies>

@{
    ViewBag.Title = "Policies";
}

<h2>Policies</h2>


   
    @using (Html.BeginForm())
    {
        <p>
            Policy Categories: @Html.DropDownList("policyCategory", "All") &nbsp; &nbsp;
            Search: @Html.TextBox("SearchString") <input type="submit" value="Filter" />
        </p>

    }



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PolicyNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.PolicyNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PolicyNumber })
        </td>
    </tr>
    }


</table>

<p>
    @Html.ActionLink("Add Policy", "Create") | 
    @Html.ActionLink("Back to Home Page", "Index", "Home")
</p>
    

