﻿@model IEnumerable<Mvc5HRPortalMH.Models.JobApplications>

@{
    Layout = "~/Views/Shared/CareerLayout.cshtml";
}


@{
    ViewBag.Title = "Index";
}


<h2> </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadResume)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadResume)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JobApplicationNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.JobApplicationNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JobApplicationNumber })
        </td>
    </tr>
}

</table>


