﻿@model IEnumerable<Mvc5HRPortalMH.Models.JobApplications>

@{
    Layout = "~/Views/Shared/CareerLayout.cshtml";
}


@{
    ViewBag.Title = "ThankYou";
}

<h1>Thank for your applying for a position at SWG Corp. We have received your application and someone will get in touch with you shortly.</h1>

