﻿@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<BaseballModel.Team>

@{
    ViewBag.Title = "Index";
}

<style>
    .btn {
        box-shadow: 5px 5px 5px #6f6a6a;
    }
</style>


    @*<div class="col-sm-3" style="margin-top: 15px;">
        <a href="@Url.Action("Index", "requestsForInfoes")" class="btn btn-default btn-lg btn-block">
            <span style="margin-right: 10px;">
            </span>View Requests
        </a>
    </div>*@


<h2>National League Teams</h2>


    <div class="row">
        <div class="col-sm-3 col-sm-offset-3" style="margin-top: 5px; margin-bottom: 15px; margin-left: 0%;">
            <a href="@Url.Action("Create", "TeamInfo")" class="btn btn-default btn-md btn-block">
                @*<span class="glyphicon glyphicon-user" style="margin-right: 10px;">
                </span>*@Add New Team
            </a>
        </div>
        </div>
@*<a>
        @Html.ActionLink("Add New Team", "Create", "TeamInfo")
</a>*@
<table class="table" style="width: 501px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager)
            </td>
            <td>
                @*@Html.ActionLink("View Roster", "Index", "PlayerInfo")*@
                <a href="/PlayerInfo/Index/@item.TeamID">View Roster</a>
                @*@Html.ActionLink("Delete", "Delete", new { id = item.TeamID })*@
            </td>
        </tr>
    }

</table>


        @*<div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="https://s-media-cache-ak0.pinimg.com/736x/cd/3c/0b/cd3c0be6b5a92fd8d144874a853fc3b1.jpg" alt="Visual Studio" class="img-responsive" style="margin-top: 16px" />
                <div class="carousel-caption">
                    <p>
                        National League Teams<br>*@
                        @*<a class="btn btn-default btn-default" asp-controller="TeamInfo" asp-action="Index">
                            View
                        </a>
                    </p>
                </div>
            </div>
        </div>*@

        @*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@