﻿@*@model ErinHelenCars.Models.whipz*@


<button type="button" class="btn btn-default btn-lg" id="showModalAddCar" style="margin-bottom: 15px; margin-top: 15px;">
    Add Car
</button>

<!-- Modal -->
<div class="modal fade" id="addCarModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add Car</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>Add Car</h2>
                        
                       <form id="hello">
                           <div class="form-group">
                               <label>Make</label>
                               <input type="text" id="make" name="make" class="form-control" />
                           </div>

                           <div class="form-group">
                               <label>Model</label>
                               <input type="text" id="model" class="form-control" />
                           </div>

                           <div class="form-group">
                               <label>Year</label>
                               <input type="text" id="year" class="form-control" />
                           </div>

                           <div class="form-group">
                               <label>Mileage</label>
                               <input type="number" id="mileage" class="form-control" />
                           </div>

                           <div class="form-group">
                               <label>Ad Title</label>
                               <input type="text" id="adTitle" class="form-control" />
                           </div>

                           <div class="form-group">
                               <label>Description</label>
                               <input type="text" id="description" class="form-control" />
                           </div>

                           <div class="form-group">
                               <label>Price</label>
                               <input type="number" id="price" class="form-control" />
                           </div>

                           <div class="form-group">
                               <lable>URL of Picture</lable>
                               <input type="text" id="pictureURL" class="form-control" />
                           </div>

                           <div class="form-group">
                               <label>Availability</label>
                               <input type="checkbox" id="isAvailable" class="form-control" />
                           </div>
                       </form>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnSaveCar">Save</button>
            </div>
        </div>
    </div>
</div>





    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
 <script>

        $(document).ready(function (){
            $('.form-group').validate({
                rules: {
                    make: {
                        required: true
                    },
                    model: {
                        required: true
                    },
                    year: {
                        required: true
                    },
                    mileage: {
                        required: true
                    },
                    adTitle: {
                        required: true
                    },
                    description: {
                        required: true
                    },
                    price: {
                        required: true
                    },
                    pictureURL: {
                        required: true
                    },
                    isAvailable: {
                        required: true
                    }
                }
            });

            $.validator.setDefaults({
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success')
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            var Create = {
                validateNo: function () {
                    if ($this.val() < 0) {
                        $(this).val(0);
                    }
                }
            };

            $('#mileage').change(Create.validateNo);
            $('#price').change(Create.validateNo);
        });

</script>
    }

