﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HEEZ Autos</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">


</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HEEZ Cars", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Cars", "Index", "whipzs")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-shadow: 1px 1px #ffffff; ">
            <p>&copy; @DateTime.Now.Year - Heez Cars</p>
        </footer>
    </div>


    @*@section Scripts*@

    @*<script src="~/Content/themes/Clean/bootstrap.min.js"></script>
        <script src="~/Content/themes/Clean/custom.js"></script>
        <script src="~/Content/themes/Clean/imagesloaded.pkgd.js"></script>
        <script src="~/Content/themes/Clean/jquery-1.11.1.min.js"></script>
        <script src="~/Content/themes/Clean/jquery.cbpQTRotator.js"></script>
        <script src="~/Content/themes/Clean/jquery.easypiechart.js"></script>
        <script src="~/Content/themes/Clean/jquery.parallax-1.1.3.js"></script>
        <script src="~/Content/themes/Clean/jquery.sticky.js"></script>
        <script src="~/Content/themes/Clean/modernizr.custom.js"></script>
        <script src="~/Content/themes/Clean/smoothscroll.js"></script>
        <script src="~/Content/themes/Clean/waypoints.min.js"></script>
        <script src="~/Content/themes/Clean/wow.min.js"></script>*@

    @*<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>*@
    @*<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>*@


    @*<script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.parallax-1.1.3.js"></script>
        <script src="assets/js/imagesloaded.pkgd.js"></script>
        <script src="assets/js/jquery.sticky.js"></script>
        <script src="assets/js/smoothscroll.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/jquery.easypiechart.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/jquery.cbpQTRotator.js"></script>
        <script src="assets/js/custom.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

