﻿@model ErinHelenCars.Models.requestsForInfo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" style="background-color: #ffffff; opacity: 0.9; width: 556px; padding-top: 20px; padding-bottom: 20px;">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bestTimeToCall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bestTimeToCall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preferredContactMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preferredContactMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeframeToPurchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeframeToPurchase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.additionalInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.additionalInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastContactDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastContactDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statusOfRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusOfRequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.whipz.make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.whipz.make)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style = "text-shadow: 1px 1px #808080;" >
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
