﻿@model ErinHelenCars.Models.requestsForInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal" style="background-color: #ffffff; opacity: 0.9; width: 556px; padding-top: 20px; padding-bottom: 20px; padding-left: 15px;">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bestTimeToCall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bestTimeToCall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preferredContactMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preferredContactMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeframeToPurchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeframeToPurchase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.additionalInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.additionalInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastContactDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastContactDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statusOfRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusOfRequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.whipz.make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.whipz.make)
        </dd>

    </dl>
</div>
<div style = "text-shadow: 1px 1px #808080;" >
    @Html.ActionLink("Edit", "Edit", new { id = Model.requestID }) |
    @Html.ActionLink("Remove", "Delete", new { id = Model.requestID }) |
    @Html.ActionLink("Back to List", "Index")
</div>
