﻿@model IEnumerable<ErinHelenCars.Models.requestsForInfo>

@{
    ViewBag.Title = "Index";
}
<div class="row" style="margin-left: 0px;">
    <a href="@Url.Action("Create", "requestsForInfoes")" class="btn btn-default btn-lg btn-block" style="width: 175px; margin-top: 10px; margin-bottom: 10px;">
        <span style="margin-top: 15px; margin-bottom:15px;">
        </span>Add New Request
    </a>
</div>
   
       
    

    
<table class="table" style="width: 299px; margin-left: 0px; margin-right: 895px; background-color: #ffffff; opacity: 0.9;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bestTimeToCall)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preferredContactMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeframeToPurchase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.additionalInformation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastContactDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statusOfRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.whipz.make)
        </th>*@
        <th></th>
    </tr>
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bestTimeToCall)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preferredContactMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeframeToPurchase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.additionalInformation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastContactDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statusOfRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.whipz.make)
        </td>*@
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.requestID }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.requestID }) 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.requestID })*@
        </td>
    </tr>
   
    }
       

       
</table>

<div class="form-actions no-color" style="text-shadow: 1px 1px #808080;">
    @Html.ActionLink("Back to Home Page", "Index", "Home")
    </div>



    @Scripts.Render("~/bundles/jqueryval")
